<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
    <title>Editor de Marca</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/navbar') %>
        <h3>Lista de Marcas</h3>
        <a href="/marca/cadastro" class="btn btn-primary">Nova marca</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Expandir</th>
                </tr>
            </thead>
            <tbody>
                <%= marcas.forEach(function(marca) { %>
                    <tr>
                        <th><%= marca.id %></th>
                        <td><%= marca.nome %></td>
                        <td><%= marca.observacoes %></td>
                        <td><a href="/marca/editar/<%= marca.id %>" class="fas fa-edit" style="color: black"
                            ata-toggle="tooltip" title="editar"></td>
                    </tr>
                <%= }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" 
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
            integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" 
            crossorigin="anonymous">
    </script>
</body>
</html>